@model IEnumerable<MariaCiolca_MVC.Models.MembershipTypesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Membership Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionLengthInMonths)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionLengthInMonths)
            </td>
            <td>
                    @if (User.IsInRole("Admin")) { 
                <a asp-action="Edit" asp-route-id="@item.idMembershipType">Edit | </a> 
                    }
                <a asp-action="Details" asp-route-id="@item.idMembershipType">Details</a> 
                    @if (User.IsInRole("Admin"))
                    {
                <a asp-action="Delete" asp-route-id="@item.idMembershipType"> | Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
